body {
    background-color: rgb(38,45,58);
}

h1 {
    text-align: center;
    color: rgb(248, 246, 246);
    font-family: 'Courier New', sans-serif;
}

h3 {
    text-align: center;
    color: rgb(248, 246, 246);
    font-family: 'Courier New', sans-serif;
    /*font-family:  "Roboto Mono",monospace;*/


}
/*
.title {
    color: red;
}

#title_id {
    color:blue;
}

#title_id2 {
    color:brown !important;
}*/
.face {
    text-align: center;
}
.face > img {
    width: 200px;  /* 横幅を200pxに */
}

p {
    text-align: center; 
    color: rgb(248, 246, 246);
    font-family: 'Courier New', sans-serif;
}
.link {
    display: block;
    text-align: center;
}
.link > img {
    width: 60px;  /* 横幅を200pxに */ 
}
