body {
    background-color: rgb(38,45,58);
}

h1 {
    text-align: center;
    color: rgb(248, 246, 246);
    font-family: 'Courier New', sans-serif;
}

h3 {
    text-align: center;
    color: rgb(248, 246, 246);
    font-family: 'Courier New', sans-serif;
    /*font-family:  "Roboto Mono",monospace;*/


}
/*
.title {
    color: red;
}

#title_id {
    color:blue;
}

#title_id2 {
    color:brown !important;
}*/
.face {
    text-align: center;
}
.face > img {
    width: 200px;  /* 横幅を200pxに */
}

p {
    text-align: center; 
    color: rgb(248, 246, 246);
    font-family: 'Courier New', sans-serif;
}
.gitlink {
    display: block;
    text-align: center;
    margin-right: 10px;
}
.gitlink > img {
    width: 60px;  
}
.twitterlink {
    display: block;
    text-align: center;
}
.twitterlink > img {
    width: 72px; 
}
.sns-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fuwafuwa {
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
    transition: 1.5s ease-in-out;
    text-align: center;
     /*width: 70px;
    height: 70px;
    margin-top: 15px;*/

  }
   
  @keyframes fuwafuwa {
    0% {
      transform:translate(0, 0) rotate(-7deg);
    }
    50% {
      transform:translate(0, -7px) rotate(0deg);
    }
    100% {
      transform:translate(0, 0) rotate(7deg);
    }
  }